Connected Services/ServiceReference1/RegistrerProduits.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ws.adame.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="RegistrerProduits" targetNamespace="http://ws.adame.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://fampachecoadame:8080/WS_SoapGestionProduits/RegistrerProduits?xsd=1" namespace="http://ws.adame.com/" />
    </xsd:schema>
  </types>
  <message name="insertProduitObjet">
    <part name="parameters" element="tns:insertProduitObjet" />
  </message>
  <message name="insertProduitObjetResponse">
    <part name="parameters" element="tns:insertProduitObjetResponse" />
  </message>
  <message name="insertProduitPrimitif">
    <part name="parameters" element="tns:insertProduitPrimitif" />
  </message>
  <message name="insertProduitPrimitifResponse">
    <part name="parameters" element="tns:insertProduitPrimitifResponse" />
  </message>
  <message name="augmenterQte">
    <part name="parameters" element="tns:augmenterQte" />
  </message>
  <message name="augmenterQteResponse">
    <part name="parameters" element="tns:augmenterQteResponse" />
  </message>
  <message name="modifierQte">
    <part name="parameters" element="tns:modifierQte" />
  </message>
  <message name="modifierQteResponse">
    <part name="parameters" element="tns:modifierQteResponse" />
  </message>
  <message name="getListProduits">
    <part name="parameters" element="tns:getListProduits" />
  </message>
  <message name="getListProduitsResponse">
    <part name="parameters" element="tns:getListProduitsResponse" />
  </message>
  <message name="getAllProduits">
    <part name="parameters" element="tns:getAllProduits" />
  </message>
  <message name="getAllProduitsResponse">
    <part name="parameters" element="tns:getAllProduitsResponse" />
  </message>
  <portType name="RegistrerProduits">
    <operation name="insertProduitObjet">
      <input wsam:Action="http://ws.adame.com/RegistrerProduits/insertProduitObjetRequest" message="tns:insertProduitObjet" />
      <output wsam:Action="http://ws.adame.com/RegistrerProduits/insertProduitObjetResponse" message="tns:insertProduitObjetResponse" />
    </operation>
    <operation name="insertProduitPrimitif">
      <input wsam:Action="http://ws.adame.com/RegistrerProduits/insertProduitPrimitifRequest" message="tns:insertProduitPrimitif" />
      <output wsam:Action="http://ws.adame.com/RegistrerProduits/insertProduitPrimitifResponse" message="tns:insertProduitPrimitifResponse" />
    </operation>
    <operation name="augmenterQte">
      <input wsam:Action="http://ws.adame.com/RegistrerProduits/augmenterQteRequest" message="tns:augmenterQte" />
      <output wsam:Action="http://ws.adame.com/RegistrerProduits/augmenterQteResponse" message="tns:augmenterQteResponse" />
    </operation>
    <operation name="modifierQte">
      <input wsam:Action="http://ws.adame.com/RegistrerProduits/modifierQteRequest" message="tns:modifierQte" />
      <output wsam:Action="http://ws.adame.com/RegistrerProduits/modifierQteResponse" message="tns:modifierQteResponse" />
    </operation>
    <operation name="getListProduits">
      <input wsam:Action="http://ws.adame.com/RegistrerProduits/getListProduitsRequest" message="tns:getListProduits" />
      <output wsam:Action="http://ws.adame.com/RegistrerProduits/getListProduitsResponse" message="tns:getListProduitsResponse" />
    </operation>
    <operation name="getAllProduits">
      <input wsam:Action="http://ws.adame.com/RegistrerProduits/getAllProduitsRequest" message="tns:getAllProduits" />
      <output wsam:Action="http://ws.adame.com/RegistrerProduits/getAllProduitsResponse" message="tns:getAllProduitsResponse" />
    </operation>
  </portType>
  <binding name="RegistrerProduitsPortBinding" type="tns:RegistrerProduits">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertProduitObjet">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertProduitPrimitif">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="augmenterQte">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modifierQte">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getListProduits">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAllProduits">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RegistrerProduits">
    <port name="RegistrerProduitsPort" binding="tns:RegistrerProduitsPortBinding">
      <soap:address location="http://fampachecoadame:8080/WS_SoapGestionProduits/RegistrerProduits" />
    </port>
  </service>
</definitions>